

#tooltip {
    display:none;
    position:absolute;
    top:400px;
    left:400px;
    height:40px;
    padding-left:10px;
    padding-right:10px;
    background: black;
    border-radius:10px;
}


.element {
    display: inline-block;
    width:20px;
    height:20px;
    margin-top:10px;
    margin-left:6px;
    border:0px;
    float:left;
}

.element:hover {
    opacity:0.6;
}

.bold {
    background:url(../images/bold.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}


.underline {
    background:url(../images/underline.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.italics {
    background:url(../images/italics.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fontColor {
    background:url(../images/fontColor.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}